<nav class='mt-5' aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    {% for link in links %}
      {% if link.href is defined %}
        <li class='breadcrumb-item'>
          <a href='{{ link.href }}' class='link-offset-2'>{{ link.text }}</a>
        </li>
      {% else %}
        <li class='breadcrumb-item active' aria-current='page'>{{ link.text }}</li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
