<div class='p-3 border rounded d-flex flex-wrap align-items-center gap-3 gap-md-4'>
  <div class='d-flex  flex-grow-1 align-items-center gap-3 gap-md-4'>
    <div class='p-3 bg-body-secondary text-uppercase fw-bold'>{{ type }}</div>
    <p class='h4 m-0'>{{ name }}</p>
  </div>

  <a class='btn btn-primary' href='#'>Herunterladen</a>
</div>
