<footer class='footer border-top mt-5'>
  <div class='container pt-5 pb-4'>
    <div class='row gap-5 gap-md-0'>
      <div class='col-12 col-md-4'>
        <a
          href='./'
          aria-current='page'
          class='nav-link d-flex align-items-center text-dark text-decoration-none'
        >
          <img class='h-full' src='./assets/odk-logo.svg' alt='Stadt Koeln Logo'>
        </a>
      </div>

      <div class='col-12 col-md-4'>
        <p class='h4 mb-3'>Seiten</p>
        <ul class='nav flex-column gap-3'>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Daten</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>News</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Herausgeber</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Apps</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Anfragen</a></li>
        </ul>
      </div>

      <div class='col-12 col-md-4'>
        <p class='h4 mb-3'>Service</p>
        <ul class='nav flex-column gap-3'>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Kontakt</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Impressum</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Nutzungsbedingungen</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Datenschutz</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Leichte Sprache</a></li>
          <li class='nav-item'><a href='#' class='nav-link p-0'>Barrierefreiheit</a></li>
        </ul>
      </div>
    </div>
    <div class='row mt-5'>
      <div class='col-12'>
        <p class='m-0'>
          Powered by Stadt Köln and <a href='#' class='d-inline text-info'>DKAN</a>, a project of
          <a href='#' class='d-inline text-info'>NuCivic</a>
        </p>
      </div>
    </div>
  </div>
</footer>
