<header class='header position-relative border-bottom'>
  <nav class='navbar navbar-expand-xl p-3 container d-flex justify-content-between'>
    <a
      href='./'
      aria-current='page'
      class='p-2 d-flex align-items-center me-md-auto text-dark text-decoration-none'
      title='Startseite Offene Daten Köln'
    >
      <img class='logo light-mode-only' src='./assets/odk-logo.svg' alt='Offene Daten Köln'>
      <img class='logo dark-mode-only' src='./assets/odk-logo-dark.svg' alt='Offene Daten Köln'>
    </a>

    {%
      include 'partials::content-layout/cl_skip-links.twig' with {
      links: [
      { href: '#header-nav', text: 'Zur Navigation' },
      { href: '#header-search', text: 'Zur Suche' },
      ]|merge(skip_links|default([]))
      }
    %}

    <div class='d-flex align-items-center gap-4'>
      <div
        id='header-nav'
        class='offcanvas offcanvas-end'
        aria-modal='true'
        role='dialog'
        aria-label='Hauptnavigation'
      >
        <div class='offcanvas-header d-flex gap-4 d-xl-none justify-content-end'>
          <a href='./overview' class='link text-decoration-none fs-3' aria-label='Datensätze suchen'
            ><i class='bi bi-search'></i
          ></a>
          <button type='button' class='btn btn-outline-light' data-bs-dismiss='offcanvas' aria-label='Schließen'>
            <i class='bi bi-x-lg'></i>
          </button>
        </div>
        <div class='offcanvas-body d-flex flex-column justify-content-between'>
          <ul class='nav flex-column align-items-start flex-xl-row fs-5 pb-3 pb-xl-0 border-bottom'>
            <li>
              <button toggle-dark-mode class='btn nav-link rounded-0' aria-label='Toggle dark mode'>
                <i class='bi bi-moon-fill'></i>
              </button>
            </li>
            <li><a href='./overview' class='nav-link'>Daten</a></li>
            <li><a href='#' class='nav-link'>News</a></li>
            <li><a href='./publisher-overview' class='nav-link'>Herausgeber</a></li>
            <li><a href='./apps' class='nav-link'>Apps</a></li>
            <li><a href='#' class='nav-link'>Anfragen</a></li>
          </ul>

          <div>
            <img class='logo d-block d-xl-none' src='./assets/odk-logo-dark.svg' alt='Offene Daten Köln'>
          </div>
        </div>
      </div>

      <form action='./overview' class='d-none d-lg-flex gap-2'>
        <input
          id='header-search'
          class='form-control mr-sm-2'
          type='search'
          placeholder='Datensätze suchen'
          aria-label='Datensätze suchen'
        >
        <button class='btn btn-outline-primary' type='submit'>Suche</button>
      </form>

      <a href='./overview' class='link d-block d-lg-none fs-3' aria-label='Datensätze suchen'>
        <i class='bi bi-search'></i>
      </a>

      <button
        class='navbar-toggler btn btn-sm btn-outline-primary'
        data-bs-toggle='offcanvas'
        data-bs-target='#header-nav'
        aria-label='Navigation umschalten'
      >
        <i class='bi bi-list fs-4'></i>
      </button>
    </div>
  </nav>
</header>
