<div class='row position-relative'>
  <div class='col-lg-8'>
    <div class=' ratio ratio-16x9'>
      <img class='img-fluid' src='https://picsum.photos/960/540' alt>
    </div>
  </div>
  <div class='mt-n5 col-lg-6 position-lg-absolute z-1 end-0 top-0 mt-lg-5'>
    <div class='card-body text-bg-primary p-4 mx-4 mx-lg-0 d-flex flex-column'>
      {{ content | raw }}
    </div>
  </div>
</div>
