<div class='row position-relative'>
  <div class='col-8'>
    <img class='img-fluid' src='https://picsum.photos/960/540' alt='Virtual Identity AG'>
  </div>
  <div class='col-6 position-absolute end-0 top-0 mt-5'>
    <div class='card-body text-bg-primary p-4'>
      <h5 class='mb-3'>Titel lorem ipsum</h5>
      <p class='mb-3'>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua...
      </p>
      <a class='btn btn-secondary' href='#'> Weiterlesen </a>
    </div>
  </div>
</div>
