<nav class='d-none d-lg-block' aria-label='Seitennavigation'>
  <ul class='pagination justify-content-center mb-0'>
    <li class='page-item'>
      <a class='page-link' href='#' aria-label='Zur vorherigen Seite gehen'><i class='bi bi-chevron-left'></i></a>
    </li>
    <li class='page-item active'><a class='page-link' href='#' aria-label='Aktuelle Seite, Seite 1'>1</a></li>
    <li class='page-item'><a class='page-link' href='#' aria-label='Gehe zu Seite 2'>2</a></li>
    <li class='page-item'><a class='page-link' href='#' aria-label='Gehe zu Seite 3'>3</a></li>
    <li class='page-item'>
      <a class='page-link' href='#' aria-label='Weiter zur nächsten Seite'><i class='bi bi-chevron-right'></i></a>
    </li>
  </ul>
</nav>
<nav class='d-lg-none' aria-label='Seitennavigation'>
  <ul class='list-unstyled d-flex flex-column gap-2 mb-0'>
    <li>
      <a class='btn btn-lg btn-primary w-100' href='#' aria-label='Zur vorherigen Seite gehen'>Nächste Seite</a>
    </li>
    <li>
      <a class='btn btn-lg btn-outline-primary w-100' href='#' aria-label='Zur vorherigen Seite gehen'
        >Vorherige Seite</a
      >
    </li>
  </ul>
</nav>
