<div class='dropdown'>
  <button
    class='btn btn-link nav-link p-2 dropdown-toggle d-flex align-items-center'
    id='bd-theme'
    type='button'
    aria-expanded='false'
    data-bs-toggle='dropdown'
    data-bs-display='static'
    aria-label='Dunkelmodus umschalten (auto)'
  >
    <i class='bi bi-sun-fill my-1 theme-icon-active'></i>
    <span class='d-xl-none ms-2' id='bd-theme-text'>Dunkelmodus umschalten</span>
  </button>
  <ul class='dropdown-menu dropdown-menu-end' aria-labelledby='bd-theme-text'>
    <li>
      <button
        type='button'
        class='dropdown-item d-flex align-items-center active'
        data-bs-theme-value='light'
        aria-pressed='true'
      >
        <i class='bi bi-sun-fill me-2 opacity-50' data-bs-theme-icon='bi-sun-fill'></i>
        Hell
        <i class='bi bi-check2 ms-auto d-none'></i>
      </button>
    </li>
    <li>
      <button
        type='button'
        class='dropdown-item d-flex align-items-center'
        data-bs-theme-value='dark'
        aria-pressed='false'
      >
        <i class='bi bi-moon-stars-fill me-2 opacity-50' data-bs-theme-icon='bi-moon-stars-fill'></i>
        Dunkel
        <i class='bi bi-check2 ms-auto d-none'></i>
      </button>
    </li>
    <li>
      <button
        type='button'
        class='dropdown-item d-flex align-items-center'
        data-bs-theme-value='auto'
        aria-pressed='false'
      >
        <i class='bi bi-circle-half me-2 opacity-50' data-bs-theme-icon='bi-circle-half'></i>
        Auto
        <i class='bi bi-check2 ms-auto d-none'></i>
      </button>
    </li>
  </ul>
</div>
