<a href='{{ href }}' class='tile ratio ratio-1x1'>
  <div class='d-flex flex-column justify-content-center align-items-center'>
    <i class='bi bi-{{ icon }} fs-1'></i>
    <p>{{ name }}</p>
  </div>
</a>
