.btn {
  --btn-focus-box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  font-size: 1.25rem;
  font-weight: 600;

  &:focus {
    border-color: var(--body-bg);
  }
}

.btn-primary {
  --btn-bg: var(--primary);
  --btn-color: var(--color-on-primary);
  --btn-border-color: var(--primary);

  --btn-hover-bg: var(--primary-hover);
  --btn-hover-color: var(--color-on-primary);
  --btn-hover-border-color: var(--primary-hover);

  --btn-active-bg: var(--primary-active);
  --btn-active-color: var(--color-on-primary);
  --btn-active-border-color: var(--primary-active);

  --btn-disabled-bg: var(--primary);
  --btn-disabled-color: var(--color-on-primary);
  --btn-disabled-border-color: var(--primary);
}

.btn-outline-primary {
  --btn-bg: transparent;
  --btn-color: var(--primary);
  --btn-border-color: var(--primary);

  --btn-hover-bg: var(--primary-hover);
  --btn-hover-color: var(--color-on-primary);
  --btn-hover-border-color: var(--primary-hover);

  --btn-active-bg: var(--primary-active);
  --btn-active-color: var(--color-on-primary);
  --btn-active-border-color: var(--primary-active);

  --btn-disabled-bg: var(--primary);
  --btn-disabled-color: var(--color-on-primary);
  --btn-disabled-border-color: var(--primary);
}

.btn-link {
  --btn-hover-border-color: rgba(var(--link-hover-color-rgb), 1);
  --btn-active-border-color: var(--btn-hover-border-color);

  border-radius: 0;
  border: 0;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--link-color);
  color: rgba(var(--link-color-rgb), 1);

  &:hover,
  &:focus,
  &:focus-within {
    --link-color: rgba(var(--link-hover-color-rgb), 1);
    --link-color-rgb: var(--link-hover-color-rgb);
  }
}
