.btn {
  --btn-focus-box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
}

.btn-primary {
  --btn-bg: var(--primary);
  --btn-color: var(--color-on-primary);
  --btn-border-color: var(--primary);

  --btn-hover-bg: var(--primary-hover);
  --btn-hover-color: var(--color-on-primary);
  --btn-hover-border-color: var(--primary-hover);

  --btn-active-bg: var(--primary-active);
  --btn-active-color: var(--color-on-primary);
  --btn-active-border-color: var(--primary-active);

  --btn-disabled-bg: var(--primary);
  --btn-disabled-color: var(--color-on-primary);
  --btn-disabled-border-color: var(--primary);
}

.btn-outline-primary {
  --btn-bg: transparent;
  --btn-color: var(--primary);
  --btn-border-color: var(--primary);

  --btn-hover-bg: var(--primary-hover);
  --btn-hover-color: var(--color-on-primary);
  --btn-hover-border-color: var(--primary-hover);

  --btn-active-bg: var(--primary-active);
  --btn-active-color: var(--color-on-primary);
  --btn-active-border-color: var(--primary-active);

  --btn-disabled-bg: var(--primary);
  --btn-disabled-color: var(--color-on-primary);
  --btn-disabled-border-color: var(--primary);
}
