.filters {
  .form-check {
    .text-muted {
      @include media-breakpoint-down(lg) {
        color: var(--gray) !important;
      }
    }
  }

  .btn-link {
    padding: 0;
    margin: 6px 12px;
  }
}
