.footer {
  --footer-color: var(--light);
  --footer-background: var(--dark);
  --footer-link-color: var(--light);
  --footer-link-hover-color: var(--primary);

  color: var(--footer-color);
  background-color: var(--footer-background);

  .logo {
    height: 58px;
  }

  .nav {
    --nav-link-color: var(--footer-link-color);
    --nav-link-hover-color: var(--footer-link-hover-color);
  }

  a {
    color: var(---footer-link-color);

    &:hover {
      color: var(--footer-link-hover-color);
    }
  }
}
