.header {
  --header-background: var(--body-bg);
  --header-link-color: var(--body-color);
  --header-link-hover-color: var(--primary);
  --link-color-rgb: var(--light-rgb);

  background-color: var(--header-background);

  .navbar {
    --navbar-color: var(--header-link-color);
  }

  .nav {
    --nav-link-color: var(--header-link-color);
    --nav-link-hover-color: var(--header-link-hover-color);

    display: flex;
    gap: 16px;

    @include media-breakpoint-up(xl) {
      border-bottom: none !important;
    }
  }

  .nav-link {
    border-bottom: 2px solid transparent;
    padding: 8px;

    &:hover {
      border-bottom-color: var(--header-link-hover-color);
    }
  }

  form {
    --border-color: var(--header-link-color);

    button[type='submit'] {
      --primary: var(--header-link-color);
    }
  }

  .offcanvas {
    @include media-breakpoint-down(xl) {
      --header-link-color: var(--offcanvas-color);
      --header-link-hover-color: var(--primary);
      --focus-ring-color: var(--primary);
    }
  }

  .navbar-toggler {
    --navbar-toggler-border-color: var(--header-link-color);

    &:focus,
    &:focus-visible {
      box-shadow: var(--btn-focus-box-shadow);
    }
  }

  .link {
    border: 0;
    padding: 0;

    &:hover {
      --link-hover-color-rgb: var(--light-rgb);
    }
  }
}
