.header {
  --header-background: var(--body-bg);
  --header-link-color: var(--body-color);
  --header-link-hover-color: var(--primary);

  background-color: var(--header-background);
  border-bottom-color: var(--header-border-color, #e9ecef) !important;

  .logo {
    height: 42px;
  }

  .navbar {
    --navbar-color: var(--header-link-color);
  }

  .nav {
    --nav-link-color: var(--header-link-color);
    --nav-link-hover-color: var(--header-link-hover-color);

    display: flex;
    gap: 16px;

    @include media-breakpoint-up(xl) {
      border-bottom: none !important;
    }
  }

  .nav-link {
    border-bottom: 2px solid transparent;
    padding: 8px;

    &:hover {
      border-bottom-color: var(--header-link-hover-color);
    }
  }

  form {
    --border-color: var(--header-link-color);

    button[type='submit'] {
      --primary: var(--header-link-color);
    }
  }

  .offcanvas {
    @include media-breakpoint-down(xl) {
      --header-link-color: var(--offcanvas-color);
      --header-link-hover-color: var(--color-on-primary);
      --focus-ring-color: var(--color-on-primary);
    }

    .btn-link {
      --link-color-rgb: var(--header-link-color);

      &:hover {
        --link-color-rgb: var(--header-link-hover-color);
      }
    }

    .dropdown-item {
      --focus-ring-color: var(--primary);
    }

    .logo {
      filter: brightness(0) invert(1);
    }
  }

  .navbar-toggler {
    --navbar-toggler-border-color: var(--header-link-color);

    align-self: stretch;

    &:focus,
    &:focus-visible {
      box-shadow: var(--btn-focus-box-shadow);
    }
  }

  .btn-link {
    border: 0;
    padding: 0;
  }

  #bd-theme {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

[data-bs-theme='dark'] .header {
  .offcanvas {
    @include media-breakpoint-down(xl) {
      --header-link-hover-color: var(--primary);
      --focus-ring-color: var(--primary);
    }
  }

  .logo {
    filter: brightness(0) invert(1);
  }
}
