.header {
  --header-background: var(--primary);
  --header-link-color: rgba(var(--light-rgb), 0.8);
  --header-link-hover-color: var(--light);
  --focus-ring-color: var(--color-on-primary);
  --link-color-rgb: var(--light-rgb);

  background-color: var(--header-background);

  .navbar {
    --navbar-color: var(--light);
  }

  .nav {
    --nav-link-color: var(--header-link-color);
    --nav-link-hover-color: var(--header-link-hover-color);

    @include media-breakpoint-up(xl) {
      border-bottom: none !important;
    }
  }

  .offcanvas {
    @include media-breakpoint-down(xl) {
      --header-link-color: var(--offcanvas-color);
      --header-link-hover-color: var(--primary);
      --focus-ring-color: var(--primary);
    }
  }

  .navbar-toggler {
    --navbar-toggler-border-color: var(--light);

    &:focus,
    &:focus-visible {
      box-shadow: var(--btn-focus-box-shadow);
    }
  }

  .link {
    border: 0;
    padding: 0;

    &:hover {
      --link-hover-color-rgb: var(--light-rgb);
    }
  }
}
