.hero {
  --hero-overflow: 320px;
  --hero-m-bottom: -10%;

  position: relative;

  &-default {
    --hero-m-bottom: -10%;
  }

  &-background {
    --hero-m-bottom: -100%;
    margin-bottom: 24px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 48px;
    }
  }

  ~ * {
    position: relative;
    z-index: 10;
  }

  &-inner {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    margin-bottom: var(--hero-m-bottom);

    @include media-breakpoint-up(sm) {
      aspect-ratio: 4 / 3;
    }

    @include media-breakpoint-up(lg) {
      aspect-ratio: 21 / 9;
    }

    > img {
      margin: 0 calc(var(--hero-overflow) * -1);
      object-fit: cover;
      width: 100vw;
      min-width: $body-min-width;
      max-width: calc(100% + var(--hero-overflow) * 2);

      @include device-without-touchscreen {
        $scrollbar-width: 15px;
        width: calc(100vw - $scrollbar-width);
      }
    }
  }
}
