:root {
  --link-color: var(--body-color);
  --link-color-rgb: var(--body-color-rgb);
  --link-hover-color: var(--primary);
  --link-hover-color-rgb: var(--primary-rgb);
}

a {
  &:focus,
  &:focus-visible {
    outline: solid var(--focus-ring-width) var(--focus-ring-color);
  }
}

.nav-link {
  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  }
}
