:root {
  --link-color: var(--body-color);
  --link-color-rgb: var(--body-color-rgb);
  --link-hover-color: var(--primary);
  --link-hover-color-rgb: var(--primary-rgb);
}

a {
  &:focus,
  &:focus-visible {
    outline: solid var(--focus-ring-width) var(--focus-ring-color);
  }
}

.link {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--link-color);
  color: rgba(var(--link-color-rgb), 1);

  &:hover,
  &:focus,
  &:focus-within {
    --link-color: rgba(var(--link-hover-color-rgb), 1);
    --link-color-rgb: var(--link-hover-color-rgb);
  }
}

.nav-link {
  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  }
}
