.tile {
  --tile-background: var(--secondary-bg);
  --tile-border-color: var(--secondary-bg);
  --tile-color: var(--black);
  --tile-hover-background: var(--primary);
  --tile-hover-color: var(--color-on-primary);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-background);
  border: 1px solid var(--tile-border-color);
  color: var(--tile-color);
  text-decoration: none;
  transition:
    background-color 0.15s,
    box-shadow 0.15s ease-in-out;

  &:hover,
  &:focus {
    --tile-background: var(--tile-hover-background);
    --tile-color: var(--tile-hover-color);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  }

  &-ratio {
    display: block;
    padding-top: 100%;
  }
}

[data-bs-theme='dark'] .tile {
  --tile-background: var(--body-bg);
  --tile-color: var(--white);
  --tile-border-color: var(--border-color);

  &:hover,
  &:focus {
    --tile-background: var(--tile-hover-background);
    --tile-color: var(--tile-hover-color);
  }
}
