.tile {
  --tile-background: var(--secondary-bg);
  --tile-color: var(--black);
  --tile-hover-background: var(--primary);
  --tile-hover-color: var(--white);

  &:hover,
  &:focus {
    --tile-background: var(--tile-hover-background);
    --tile-color: var(--tile-hover-color);
  }

  &:focus {
    --tile-shadow-rgb: var(--primary-shadow-rgb);
    outline: none;
  }

  > div {
    background-color: var(--tile-background);
    color: var(--tile-color);
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(var(--tile-shadow-rgb), 0.5);
    transition:
      background-color 0.15s,
      box-shadow 0.15s ease-in-out;
  }
}

[data-bs-theme='dark'] .tile {
  --tile-background: var(--black);
  --tile-color: var(--white);

  &:hover,
  &:focus {
    --tile-background: var(--tile-hover-background);
    --tile-color: var(--tile-hover-color);
  }

  &:focus {
    --tile-shadow-rgb: var(--primary-shadow-rgb);
  }
}
