:root {
  color-scheme: light;

  --focus-ring-color: #a01e28;
  --focus-ring-width: 3px;

  --primary: #a01e28;
  --primary-rgb: 160, 30, 40;
  --primary-hover: #801820;
  --primary-hover-rgb: 128, 24, 32;
  --primary-active: #f23333;
  --primary-shadow-rgb: 203, 0, 0;
  --color-on-primary: #fff;

  --border-color: #827d73;
  --header-border-color: #e9ecef;
}

[data-bs-theme='dark'] {
  color-scheme: dark;

  --focus-ring-color: #a01e28;
  --focus-ring-width: 3px;

  --primary: #a01e28;
  --primary-rgb: 160, 30, 40;
  --primary-hover: #801820;
  --primary-hover-rgb: 128, 24, 32;
  --primary-active: #f23333;
  --primary-shadow-rgb: 255, 255, 255;
  --color-on-primary: #fff;

  --border-color: #827d73;
  --header-border-color: #827d73;
}
