:root {
  color-scheme: light;

  --focus-ring-color: #ef0000;
  --focus-ring-width: 3px;

  --primary: #ef0000;
  --primary-rgb: 239, 0, 0;
  --primary-hover: #d60909;
  --primary-active: #f23333;
  --primary-shadow-rgb: 203, 0, 0;
  --color-on-primary: #fff;

  --secondary: #fff;
  --secondary-rgb: 255, 255, 255;
  --secondary-hover: #e7e7e7;
  --secondary-active: #e7e7e7;
  --secondary-shadow-rgb: 203, 0, 0;
  --color-on-secondary: #ef0000;

  --link-color: #ef0000;
  --link-color-rgb: 239, 0, 0;
  --link-hover-color: #d60909;
  --link-hover-color-rgb: 214, 9, 9;
}

[data-bs-theme='dark'] {
  color-scheme: dark;

  --primary: #ef0000;
  --primary-rgb: 239, 0, 0;
  --primary-hover: #d60909;
  --primary-active: #f23333;
  --primary-shadow-rgb: 255, 255, 255;
  --color-on-primary: #fff;

  --secondary: #fff;
  --secondary-rgb: 255, 255, 255;
  --secondary-hover: #e7e7e7;
  --secondary-active: #e7e7e7;
  --secondary-shadow-rgb: 203, 0, 0;
  --color-on-secondary: #ef0000;

  --link-color: #ef0000;
  --link-color-rgb: 239, 0, 0;
  --link-hover-color: #d60909;
  --link-hover-color-rgb: 214, 9, 9;
}
