:root {
  color-scheme: light;

  --primary: #ef0000;
  --primary-rgb: 239, 0, 0;
  --primary-hover: #d60909;
  --primary-active: #f23333;
  --primary-shadow-rgb: 203, 0, 0;
  --color-on-primary: #fff;

  --secondary: #fff;
  --secondary-rgb: 255, 255, 255;
  --secondary-hover: #e7e7e7;
  --secondary-active: #e7e7e7;
  --secondary-shadow-rgb: 203, 0, 0;
  --color-on-secondary: #ef0000;

  --link-color: #0d6efd;
  --link-color-rgb: 13, 110, 253;
  --link-hover-color: #0a58ca;
  --link-hover-color-rgb: 10, 88, 202;
}

[data-bs-theme='dark'] {
  color-scheme: dark;

  --primary: #ef0000;
  --primary-rgb: 239, 0, 0;
  --primary-hover: #d60909;
  --primary-active: #f23333;
  --primary-shadow-rgb: 255, 255, 255;
  --color-on-primary: #fff;

  --secondary: #fff;
  --secondary-rgb: 255, 255, 255;
  --secondary-hover: #e7e7e7;
  --secondary-active: #e7e7e7;
  --secondary-shadow-rgb: 203, 0, 0;
  --color-on-secondary: #ef0000;

  --link-color: #0d6efd;
  --link-color-rgb: 13, 110, 253;
  --link-hover-color: #0a58ca;
  --link-hover-color-rgb: 10, 88, 202;
}
