:root {
  color-scheme: light;

  --primary: #000;
  --primary-rgb: 0, 0, 0;
  --light: #f8f9fa;
  --light-rgb: 248, 249, 250;
  --dark: #212529;
  --dark-rgb: 33, 37, 41;

  --body-color: #212529;
  --body-color-rgb: 33, 37, 41;
  --body-bg: #fff;
  --body-bg-rgb: 255, 255, 255;

  --emphasis-color: #000;
  --emphasis-color-rgb: 0, 0, 0;
  --secondary-color: rgba(33, 37, 41, 0.75);
  --secondary-color-rgb: 33, 37, 41;
  --secondary-bg: #e9ecef;
  --secondary-bg-rgb: 233, 236, 239;
  --tertiary-color: rgba(33, 37, 41, 0.5);
  --tertiary-color-rgb: 33, 37, 41;
  --tertiary-bg: #f8f9fa;
  --tertiary-bg-rgb: 248, 249, 250;

  --primary-text-emphasis: #052c65;
  --primary-text-emphasis-rgb: 5, 44, 101;
  --secondary-text-emphasis: #2b2f32;
  --secondary-text-emphasis-rgb: 43, 47, 50;
  --success-text-emphasis: #0a3622;
  --success-text-emphasis-rgb: 10, 54, 34;
  --info-text-emphasis: #055160;
  --info-text-emphasis-rgb: 5, 81, 96;
  --warning-text-emphasis: #664d03;
  --warning-text-emphasis-rgb: 102, 77, 3;
  --danger-text-emphasis: #58151c;
  --danger-text-emphasis-rgb: 88, 21, 28;
  --light-text-emphasis: #495057;
  --light-text-emphasis-rgb: 73, 80, 87;
  --dark-text-emphasis: #495057;
  --dark-text-emphasis-rgb: 73, 80, 87;

  --primary-bg-subtle: #cfe2ff;
  --secondary-bg-subtle: #e2e3e5;
  --success-bg-subtle: #d1e7dd;
  --info-bg-subtle: #cff4fc;
  --warning-bg-subtle: #fff3cd;
  --danger-bg-subtle: #f8d7da;
  --light-bg-subtle: #fcfcfd;
  --dark-bg-subtle: #ced4da;

  --primary-border-subtle: #9ec5fe;
  --secondary-border-subtle: #c4c8cb;
  --success-border-subtle: #a3cfbb;
  --info-border-subtle: #9eeaf9;
  --warning-border-subtle: #ffe69c;
  --danger-border-subtle: #f1aeb5;
  --light-border-subtle: #e9ecef;
  --dark-border-subtle: #adb5bd;

  --code-color: #d63384;
  --highlight-color: #212529;
  --highlight-bg: #fff3cd;

  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);

  --form-valid-color: #198754;
  --form-valid-border-color: #198754;
  --form-invalid-color: #dc3545;
  --form-invalid-border-color: #dc3545;
}
