:root {
  --link-color: var(--primary);
  --link-color-rgb: rgba(var(--primary-rgb), 1);
  --link-hover-color: var(--primary-text-emphasis);
  --link-hover-color-rgb: var(--primary-text-emphasis-rgb);
}

.nav-pills {
  --nav-pills-link-active-bg: var(--primary);
  --nav-pills-link-active-color: var(--light);
}
