{% extends 'layouts::base.twig' %}
{% set theme = 'default' %}
{%
  set skip_links = [
  { href: '#content', text: 'Content' },
  ]
%}

{% block content %}
  <div id='content'></div>
  {%
    include 'partials::base/b_breadcrumbs.twig' with {
    links: [
    {
    href: './',
    text: 'Startseite'
    },
    {
    text: 'Apps'
    }
    ]
    }
  %}

  <section class='row pb-5 mb-3'>
    <div class='col-12'>
      <h1 class='display-3 mb-4'>Apps und Anwendungsbeispiele</h1>
      <h2 class='m-0'>
        Lorem ipsum Einleitungstext zum Thema Apps, der kurz beschreibt, wie und warum man offene Daten nutzt und der
        Öffentlichkeit zum Ausprobieren zur Verfügung stellt.
      </h2>
    </div>
  </section>

  <section class='row'>
    <div class='visually-hidden' role='region' aria-live='polite'>6 Ergebnisse</div>
    <div class='col-md-6 mb-5 mb-md-0 d-flex flex-column gap-5' role='region' aria-live='polite'>
      {%
        include 'partials::content-layout/cl_app.twig' with {
        href: '#',
        title: 'Baumkataster Köln 2020',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua.'
        }
      %}
      {%
        include 'partials::content-layout/cl_app.twig' with {
        title: 'Baumkataster Köln 2020',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua.'
        }
      %}
      {%
        include 'partials::content-layout/cl_app.twig' with {
        title: 'Baumkataster Köln 2020',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin '
        }
      %}
    </div>
    <div class='col-md-6 d-flex flex-column gap-5'>
      {%
        include 'partials::content-layout/cl_app.twig' with {
        title: 'Baumkataster Köln 2020',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et.'
        }
      %}
      {%
        include 'partials::content-layout/cl_app.twig' with {
        href: '#',
        title: 'Baumkataster Köln 2020',
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua.'
        }
      %}
      {%
        include 'partials::content-layout/cl_app.twig' with {
        title: 'Baumkataster Köln 2020'
        }
      %}
    </div>
    <div class='col-12 pt-5 mt-3'>
      {% include 'partials::base/b_pagination.twig' %}
    </div>
  </section>
{% endblock %}
