{% extends 'layouts::base.twig' %}
{% set theme = 'default' %}
{%
  set skip_links = [
  { href: '#content', text: 'Zum Inhalt' },
  ]
%}

{% block content %}
  <div id='content'></div>
  {%
    include 'partials::base/b_breadcrumbs.twig' with {
    links: [
    {
    href: './',
    text: 'Startseite'
    },
    {
    text: 'Blog'
    }
    ]
    }
  %}

  <section class='row pt-3'>
    <div class='col-12'>
      <h1 class='display-3 mb-4'>Rückblick auf den "OPEN DATA DAY - Mit Digitalem Engagement zur Smarten Stadt"</h1>

      <p class='fs-4 mb-4'>von Max Mustermann, 20.05.2024</p>

      <div class='ratio ratio-21x9 mb-4 rounded overflow-hidden'>
        <img class='img-fluid' src='https://picsum.photos/960/540' alt>
      </div>
    </div>
  </section>

  <section class='row pb-5 mb-3'>
    <div class='col-12 col-md-9 fs-4 lh-sm pb-5 border-gray border-bottom border-opacity-25'>
      <p>
        Am Freitag, den 7. Juni 2024, fand im VHS Forum des Rautenstrauch-Joest-Museums in Köln der „OPEN DATA DAY – Mit
        Digitalem Engagement zur Smarten Stadt“ statt. Rund 50 Teilnehmer*innen nutzten die Gelegenheit, die
        vielseitigen Einsatzmöglichkeiten offener Verwaltungsdaten zu erleben und mitzugestalten. Organisiert von der
        Stabsstelle Digitalisierung und dem OK Lab Köln, zeigte die Veranstaltung, wie offene Daten zur Lösung
        städtischer Herausforderungen und zur Entwicklung innovativer Lösungen beitragen können.
      </p>

      <p>
        Nach einer kurzen Einführung ins Programm durch die Moderatorin
        <a href='#' class='fw-semibold'>Alina Dangel</a>, bot <a href='#' class='fw-semibold'>Dirk Blauhut</a> mit
        seiner Key Note einen interessanten und innovativen Einstieg in das Thema - das Ziel: Digitales Engagement
        feiern. Hervorzuheben sind auch die geförderten un:box-Projekte, die u.a. von
        <a href='#' class='fw-semibold'>Patrick Haehn</a> vorgestellt wurden und Köln smarter und digitaler machen. Die
        Projekte N4CV und <a href='#' class='fw-semibold'>mavy mobility</a> zeigten eindrucksvoll, welchen Mehrwert
        offene Daten schaffen können. Beim interaktiven Pen & Paper Hackathon von
        <a href='#' class='fw-semibold'>Railslove</a> entstanden kreative Ideen zur Verknüpfung von KI, offenen Daten
        und ehrenamtlichem Engagement. Weitere Highlights waren die Präsentation von
        <a href='#' class='fw-semibold'>Sandra Liermann</a> vom
        <a href='#' class='fw-semibold'>Kölner Stadt-Anzeiger</a>, die zeigte, wie Datenjournalist*innen mit Daten
        arbeiten, sowie der <a href='#' class='fw-semibold'>Demokratie-Wegweiser</a> von
        <a href='#' class='fw-semibold'>Franziska Hollstein</a>. Besonders spannend war die Vorstellung verschiedener
        CivicTech-Projekte. An den Ständen der
        <a href='#' class='fw-semibold'>Fachstelle für Jugendmedienkultur NRW</a>, den Kulturpfaden Köln von
        <a href='#' class='fw-semibold'>Wolfram Eberius</a> (OK Lab Köln) und Denkmäler in 4D von
        <a href='#' class='fw-semibold'>Ertan Özcan</a> und Martin Over (OK Lab Köln) konnten sich die Teilnehmer*innen
        die bisherigen Erfolge ansehen, mit den Projektverantwortlichen ins Gespräch kommen, die Arbeit mit
        Verwaltungsdaen hautnah erleben und selbst ausprobieren, wie man mit dem eigenen Smartphone Modelle von
        Denkmälern erstellen kann.
      </p>

      <p>
        Ein großer Dank geht an alle Teilnehmer*innen, Referent*innen und Organisator*innen für diesen bereichernden und
        produktiven Tag. Wir freuen uns auf künftige Veranstaltungen rund um den Mehrwert offener Daten.
      </p>

      <p>
        Weitere Informationen finden sich auch hier:
        <a href='#' class='fw-semibold'>Open Data Day 2024 – un:box cologne - Stadt Köln (stadt-koeln.de)</a>
      </p>
    </div>
  </section>

  {% include 'partials::content-layout/cl_feedback-form.twig' %}
{% endblock %}
