{% extends 'layouts::base.twig' %}
{% set theme = 'default' %}

{% block content %}
  {%
    include 'partials::base/b_breadcrumbs.twig' with {
    links: [
    {
    href: './',
    text: 'Startseite'
    },
    {
    href: './overview',
    text: 'Daten'
    },
    {
    text: 'Dataset'
    }
    ]
    }
  %}

  <section class='row pb-4 border-bottom'>
    <div class='col-12 mb-4 d-flex justify-content-between'>
      <div class='d-flex align-items-start gap-3'>
        <h1 class='display-3 m-0'>Baumkataster Köln 2020</h1>
        <span class='badge border border-primary text-primary text-uppercase'>SERIES</span>
      </div>
    </div>

    <div class='col-12 pb-3 d-flex align-items-center justify-content-between'>
      <h2 class='m-0'>Über diesen Datensatz</h2>

      <p class='m-0'>
        <strong>Aktualisierung:</strong>
        15.08.2022
      </p>
    </div>

    <div class='col-12 pt-3'>
      {% include 'partials::content-layout/cl_dataset-hero.twig' %}
    </div>
  </section>

  <section class='row pt-4 pb-5 border-bottom'>
    <div class='col-12 col-lg-8'>
      <h2 class='display-6 mb-4'>Dateien und Quellen</h2>

      <div class='d-flex flex-column gap-4'>
        {%
          include 'partials::base/b_download.twig' with {
          type: 'csv',
          name: 'Personal Planstellen Ordnungsamt Koeln CSV'
          }
        %}

        {%
          include 'partials::base/b_download.twig' with {
          type: 'xml',
          name: 'Personal Planstellen Ordnungsamt Koeln XML'
          }
        %}

        {%
          include 'partials::base/b_download.twig' with {
          type: 'xlsx',
          name: 'Personal Planstellen Ordnungsamt Koeln XLSX'
          }
        %}
      </div>
    </div>
  </section>

  <section class='row pt-4 pb-5 border-bottom'>
    <div class='col-12 col-lg-8'>
      <div class='d-flex align-items-start gap-3 mb-4'>
        <h2 class='display-6 m-0'>Weitere Datensätze der Datenserie</h2>
        <span class='badge border border-primary text-primary text-uppercase'>SERIES</span>
      </div>

      <div class='d-flex flex-column gap-4 mb-4'>
        {% for i in 0..2 %}
          <a class='card text-decoration-none p-3 border rounded' href='#'>
            <h3 class='h4 mb-2'><strong>Baumkataster Köln 2018</strong></h3>
            <p class='h4 m-0 d-flex flex-wrap align-items-center gap-2'>
              Formate:
              <span class='badge badge-sm text-bg-secondary text-uppercase'>JSON</span>
              <span class='badge badge-sm text-bg-secondary text-uppercase'>RDF</span>
            </p>
          </a>
        {% endfor %}
      </div>

      <button class='btn btn-link fs-5 p-0'>Alle Anzeigen</button>
    </div>
  </section>

  <section class='row pt-4 pb-5 border-bottom'>
    <div class='col-12 col-lg-8'>
      <div class='d-flex align-items-start gap-3 mb-4'>
        <h2 class='display-6 m-0'>Kategorien</h2>
      </div>

      <div class='d-flex flex-wrap gap-2'>
        <span class='badge badge-lg text-bg-secondary text-uppercase'>Lorem</span>
        <span class='badge badge-lg text-bg-secondary text-uppercase'>Lorem</span>
        <span class='badge badge-lg text-bg-secondary text-uppercase'>Lorem</span>
      </div>
    </div>
  </section>

  <section class='row pt-4 pb-5 border-bottom'>
    <div class='col-12 col-lg-8'>
      <div class='d-flex align-items-start gap-3 mb-4'>
        <h2 class='display-6 m-0'>Zusätzliche Informationen</h2>
      </div>

      <div class='d-flex flex-column gap-3'>
        {% for i in 0..3 %}
          <div class='p-3 m-0 border rounded'>
            <p class='h4 mb-2'>Feldbeschreibung, e.g. "Veröffentlichungsdatum"</p>
            <p class='m-0 text-body-secondary'>Wert, e.g. 2022-07-26</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class='row pt-4 pb-5 border-bottom'>
    <div class='col-12 col-lg-8'>
      <div class='d-flex align-items-start gap-3 mb-4'>
        <h2 class='display-6 m-0'>Metadaten Formate</h2>
        <span class='badge border border-primary text-primary text-uppercase'>SERIES</span>
      </div>

      <div class='d-flex flex-column gap-4'>
        {% for i in 0..1 %}
          <div class='card text-decoration-none p-3 d-flex flex-column gap-3 border rounded'>
            <p class='h4 m-0 d-flex flex-wrap align-items-center gap-2'>
              Datensatz Inhalt:
              <span class='badge badge-sm text-bg-secondary text-uppercase'>JSON</span>
              <span class='badge badge-sm text-bg-secondary text-uppercase'>RDF</span>
            </p>
            <p class='h4 m-0 d-flex flex-wrap align-items-center gap-2'>
              Datensatz Metadaten im DCAT-AP.de-Format:
              <span class='badge badge-sm text-bg-secondary text-uppercase'>JSON</span>
              <span class='badge badge-sm text-bg-secondary text-uppercase'>RDF</span>
              <span class='badge badge-sm text-bg-secondary text-uppercase'>TTL</span>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class='row pt-4 pb-5 border-bottom'>
    <div class='col-12 col-lg-8'>
      <div class='d-flex align-items-start gap-3 mb-4'>
        <h2 class='display-6 m-0'>Tags</h2>
      </div>

      <div class='d-flex flex-wrap gap-2'>
        <span class='badge badge-lg text-bg-secondary text-uppercase'>Lorem</span>
        <span class='badge badge-lg text-bg-secondary text-uppercase'>Lorem</span>
        <span class='badge badge-lg text-bg-secondary text-uppercase'>Lorem</span>
      </div>
    </div>
  </section>

  {#
    <section class='row py-4'>
    <div class='col-10'>
    <div class='accordion' id='feedback-geben'>
    <div class='accordion-item'>
    <h2 class='accordion-header'>
    <button
    class='accordion-button'
    type='button'
    data-bs-toggle='collapse'
    data-bs-target='#feedback-form'
    aria-expanded='true'
    aria-controls='collapseOne'
    >
    FEEDBACK GEBEN
    </button>
    </h2>
    <div id='feedback-form' class='accordion-collapse collapse show' data-bs-parent='#feedback-form'>
    <div class='accordion-body'>
    <p>
    Haben Sie eine Frage oder Feedback zu diesem Datensatz? Wir freuen uns, von Ihnen zu hören und bemühen
    uns, zeitnah zu antworten. Geben Sie Ihre Frage bitte in das Formular ein.
    </p>

    <form action='#'>
    <div class='mb-3'>
    <label for='feedback-name' class='form-label'>Name</label>
    <input type='email' class='form-control' id='feedback-name' placeholder='Name'>
    </div>
    <div class='mb-3'>
    <label for='feedback-text' class='form-label'>Feedback</label>
    <textarea class='form-control' id='feedback-text' rows='3'></textarea>
    </div>
    <button class='btn btn-primary'>ABSENDEN</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
  #}
{% endblock %}
