{% extends 'layouts::base.twig' %}
{% set theme = 'default' %}
{%
  set skip_links = [
  { href: '#content', text: 'Content' },
  ]
%}

{% block content %}
  <section id='homepage-search' class='row pb-3 pb-lg-5'>
    <div class='col-12'>
      {%
        include 'partials::base/b_hero.twig' with {
        src: 'https://picsum.photos/960/540',
        type: 'background'
        }
      %}

      <div class='row'>
        <div class='col-12 col-lg-9 mb-4 mb-xl-5'>
          <div class='text-bg-primary p-3 pb-5'>
            <div class='p-3'>
              <h1 class='display-5 mb-4'>
                Die beste Grundlage für fundierte Entscheidungen: offene Daten aus Ihrer Region.
              </h1>
              <form class='form-inline d-flex gap-2' action='overview'>
                <input
                  class='form-control fs-5 mr-sm-2'
                  type='search'
                  placeholder='Datensätze suchen'
                  aria-label='Datensätze suchen'
                >
                <button class='btn btn-outline-primary fs-5' type='submit' aria-label='Suchen'>
                  <i class='bi bi-search'></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id='content' class='row pb-5'>
    <div class='col-12'>
      <div class='p-3 bg-body'>
        <h2 class='p-3 m-0'>
          Hier finden alle Kölner – ob Bürger, Verwaltung, Unternehmen oder Wissenschaft – offene Datensätze, um
          gemeinsam einen Mehrwert für alle zu schaffen.
        </h2>
      </div>
    </div>
  </section>

  <section class='row pb-5 mb-3'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'Beliebte Datensätze',
      link: {
      href: './overview',
      text: 'Alle Datensätze',
      }
      }
    %}

    <div class='col-6 mb-3'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-6 mb-3'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-6 my-3'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-6 my-3'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-6 mt-3'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-6 mt-3'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
  </section>

  <section class='row py-5 mb-3 border-gray border-top border-opacity-25'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'News',
      link: {
      href: '#',
      text: 'Alle News anzeigen',
      }
      }
    %}

    <div class='col-12'>
      {%
        include 'partials::base/b_highlight-teaser.twig' with {
        content: "
        <h3 class='mb-3'>Title lorem ipsum</h3>
        <p class='fs-5 text-lg mb-3'>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua...
        </p>
        <a class='btn btn-primary align-self-center align-self-lg-start' href='#'>Weiterlesen</a>
        "
        }
      %}
    </div>
  </section>

  <section class='row py-5 mb-3 border-gray border-top border-opacity-25'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'Beliebte Kategorien'
      }
    %}

    <div class='col-12'>
      {% include 'partials::content-layout/cl_tile-showcase.twig' %}
    </div>
  </section>

  <section class='row py-5 mb-3 border-gray border-top border-bottom border-opacity-25'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'Daten über Schnittstelle nutzen',
      link: {
      href: '#',
      text: 'Artikel anzeigen',
      }
      }
    %}

    <p class='h2'>
      Erfahren Sie hier wie Sie mit der DKAN API unsere offenen Datensätze für Ihre eigenen Projekte anschauen,
      herunterladen und programmsteuern können.
    </p>
  </section>
{% endblock %}
