{% extends 'layouts::base.twig' %}
{% set theme = 'default' %}

{% block content %}
  <section class='row pb-3 pb-lg-5'>
    <div class='col-12'>
      {%
        include 'partials::base/b_hero.twig' with {
        src: 'https://picsum.photos/960/540',
        alt: 'Stadt Koeln',
        type: 'background'
        }
      %}

      <div class='row'>
        <div class='col-12 col-lg-9 mb-4 mb-xl-5'>
          <div class='text-bg-primary p-4 pb-5'>
            <h1 class='display-5 mb-4'>
              Die beste Grundlage für fundierte Entscheidungen: offene Daten aus Ihrer Region.
            </h1>
            <form class='form-inline d-flex gap-2' action='overview'>
              <input
                class='form-control fs-5 mr-sm-2'
                type='search'
                placeholder='Datensatze suchen'
                aria-label='Datensatze suchen'
              >
              <button class='btn btn-outline-primary fs-5' type='submit' aria-label='Search'>
                <i class='bi bi-search'></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='row pb-5'>
    <div class='col-12'>
      <div class='p-4 bg-body'>
        <h2 class='m-0'>
          Hier finden alle Kölner – ob Bürger, Verwaltung, Unternehmen oder Wissenschaft – offene Datensätze, um
          gemeinsam einen Mehrwert für alle zu schaffen.
        </h2>
      </div>
    </div>
  </section>

  <section class='row pt-4 pb-5'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'Beliebte Datensätze',
      link: {
      href: './overview',
      text: 'Alle Datensätze',
      }
      }
    %}

    <div class='col-12 mb-4'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        alt: 'Virtual Identity AG'
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-12 mb-4'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        alt: 'Virtual Identity AG'
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
    <div class='col-12'>
      {%
        include 'partials::base/b_card.twig' with {
        'thumbnail': {
        src: 'https://picsum.photos/960/540',
        alt: 'Virtual Identity AG'
        },
        'direction': 'horizontal',
        'href': './dataset',
        'title': 'Baumkataster Köln 2020',
        'subtitle': 'Herausgeber: Stadt Köln',
        'description': 'Lorem ipsum dolor sit amet, consetetur sadipscin invidunt ut labore et erat, sed diam voluptua...',
        }
      %}
    </div>
  </section>

  <section class='row py-5 border-gray border-top border-opacity-25'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'News',
      link: {
      href: '#',
      text: 'Alle News anzeigen',
      }
      }
    %}

    <div class='col-12'>
      {% include 'partials::base/b_highlight-teaser.twig' %}
    </div>
  </section>

  <section class='row py-5 border-gray border-top border-opacity-25'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'Beliebte Kategorien'
      }
    %}

    <div class='col-12'>
      {% include 'partials::content-layout/cl_tile-showcase.twig' %}
    </div>
  </section>

  <section class='row py-5 border-gray border-top border-bottom border-opacity-25'>
    {%
      include 'partials::content-layout/cl_section-header.twig' with {
      title: 'Daten über Schnittstelle nutzen',
      link: {
      href: '#',
      text: 'Artikel anzeigen',
      }
      }
    %}

    <p class='h2'>
      Erfahren Sie hier wie Sie mit der DKAN API unsere offenen Datensätze für Ihre eigenen Projekte anschauen,
      herunterladen und programmsteuern können.
    </p>
  </section>
{% endblock %}
