<article>
  {%
    include 'partials::base/b_hero.twig' with {
    src: 'https://picsum.photos/960/540',
    }
  %}

  <div class='p-4 bg-body'>
    <p class='h5 mb-4'>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus.
    </p>
    <button class='btn btn-primary'>Mehr</button>
  </div>
</article>
