<div class='row'>
  <div class='col-6 col-md-3 col-lg-2'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'bar-chart-steps',
      name: 'Bevölkerung'
      }
    %}
  </div>
  <div class='col-6 col-md-3 col-lg-2'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'compass',
      name: 'Geo'
      }
    %}
  </div>
  <div class='col-md-3 col-lg-2 d-none d-md-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'pie-chart',
      name: 'Politik & Wahlen'
      }
    %}
  </div>
  <div class='col-md-3 col-lg-2 d-none d-md-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'bicycle',
      name: 'Transport & Verkehr'
      }
    %}
  </div>
  <div class='col-lg-2 d-none d-lg-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'bank2',
      name: 'Infrastruktur'
      }
    %}
  </div>
  <div class='col-lg-2 d-none d-lg-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'graph-down',
      name: 'Umwelt & Klima'
      }
    %}
  </div>

  <div class='col-12 mt-5 d-flex justify-content-center'>
    {%
      include 'partials::base/b_link.twig' with {
      text: 'Alle Kategorien anzeigen',
      icon: 'plus-lg'
      }
    %}
  </div>
</div>
