<div class='row'>
  <div class='col-6 col-md-3 col-lg-2'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'tag-fill',
      name: 'Bevölkerung'
      }
    %}
  </div>
  <div class='col-6 col-md-3 col-lg-2'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'tag-fill',
      name: 'Bevölkerung'
      }
    %}
  </div>
  <div class='col-md-3 col-lg-2 d-none d-md-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'tag-fill',
      name: 'Bevölkerung'
      }
    %}
  </div>
  <div class='col-md-3 col-lg-2 d-none d-md-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'tag-fill',
      name: 'Bevölkerung'
      }
    %}
  </div>
  <div class='col-lg-2 d-none d-lg-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'tag-fill',
      name: 'Bevölkerung'
      }
    %}
  </div>
  <div class='col-lg-2 d-none d-lg-block'>
    {%
      include 'partials::base/b_tile.twig' with {
      href: '#',
      icon: 'tag-fill',
      name: 'Bevölkerung'
      }
    %}
  </div>

  <div class='col-12 mt-5 d-flex justify-content-center'>
    <button class='btn btn-primary'>Alle Anzeigen</button>
  </div>
</div>
