<div class='tile-showcase' aria-expanded='false'>
  <div class='row row-gap-4 row-cols-2 row-cols-md-4 row-cols-lg-6'>
    <div class='col'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'bar-chart-steps',
        name: 'Bevölkerung'
        }
      %}
    </div>
    <div class='col'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'compass',
        name: 'Geo'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'pie-chart',
        name: 'Politik & Wahlen'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'bicycle',
        name: 'Transport & Verkehr'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'bank2',
        name: 'Infrastruktur'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'graph-down',
        name: 'Umwelt & Klima'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'bar-chart-steps',
        name: 'Bevölkerung'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'compass',
        name: 'Geo'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'pie-chart',
        name: 'Politik & Wahlen'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'bicycle',
        name: 'Transport & Verkehr'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'bank2',
        name: 'Infrastruktur'
        }
      %}
    </div>
    <div class='col d-none'>
      {%
        include 'partials::base/b_tile.twig' with {
        href: '#',
        icon: 'graph-down',
        name: 'Umwelt & Klima'
        }
      %}
    </div>
  </div>
  <div class='row'>
    <div class='col-12 mt-5 d-flex justify-content-center'>
      {%
        include 'partials::base/b_link.twig' with {
        text: 'Alle Kategorien anzeigen',
        icon: 'plus-lg'
        }
      %}
    </div>
  </div>
</div>
