<footer class='border-top bg-body-tertiary'>
  <div class='container'>
    <div class='row py-5'>
      <div class='col-4 mb-3'>
        <a
          href='./'
          aria-current='page'
          class='nav-link d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-4'
        >
          Stadt Koeln
        </a>
      </div>

      <div class='col-4 mb-3'>
        <h5>Seiten</h5>
        <ul class='nav flex-column'>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>Home</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>Features</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>Pricing</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>FAQs</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>About</a></li>
        </ul>
      </div>

      <div class='col-4 mb-3'>
        <h5>Service</h5>
        <ul class='nav flex-column'>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>Home</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>Features</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>Pricing</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>FAQs</a></li>
          <li class='nav-item mb-2'><a href='#' class='nav-link p-0'>About</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <p>
          Powered by Stadt Köln and <a href='#' class='d-inline nav-link'>DKAN</a>, a project of
          <a href='#' class='d-inline nav-link'>NuCivic</a>
        </p>
      </div>
    </div>
  </div>
</footer>
