<header class='py-3 mb-4 border-bottom bg-body-tertiary'>
  <nav class='container d-flex flex-wrap justify-content-center '>
    <a
      href='./'
      aria-current='page'
      class='d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-4'
    >
      Stadt Koeln
    </a>

    <ul class='nav nav-pills'>
      <li class='nav-item'>
        <button toggle-dark-mode class='btn nav-link' aria-label='Toggle dark mode'>
          <i class='bi bi-moon-fill'></i>
        </button>
      </li>
      <li class='nav-item'><a href='./dataset-overview' class='nav-link'>Daten</a></li>
      <li class='nav-item'><a href='#' class='nav-link'>News</a></li>
      <li class='nav-item'><a href='#' class='nav-link'>Herausgeber</a></li>
      <li class='nav-item'><a href='./apps' class='nav-link'>Apps</a></li>
      <li class='nav-item'><a href='#' class='nav-link'>Anfragen</a></li>
      <li class='nav-item'>
        <a href='./dataset-overview' class='nav-link' aria-label='search'><i class='bi bi-search'></i></a>
      </li>
    </ul>
  </nav>
</header>
