<!doctype html>
<html lang='de'>
  <head>
    <meta charset='UTF-8'>
    <title>Stadt Koeln - Open Data</title>

    <link rel='stylesheet' href='/src/styles/styles.scss'>
    {% set theme = theme is defined ? theme : 'light' %}
    <link rel='stylesheet' href='/src/styles/themes/{{ theme }}.css'>
  </head>
  <body class='min-vh-100 d-flex flex-column'>
    {% include 'partials::header.twig' %}

    <main class='container flex-grow-1'>
      {% block content %}{% endblock %}
    </main>

    {% include 'partials::footer.twig' %}
  </body>
</html>
