<!doctype html>
<html lang='de'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Stadt Koeln - Open Data</title>

    <link rel='stylesheet' href='/src/styles/styles.scss'>
    {% set theme = theme is defined ? theme : 'default' %}
    <link rel='stylesheet' href='/src/styles/themes/{{ theme }}.css'>

    <script type='module' src='/src/js/scripts.js' defer></script>
  </head>
  <body class='min-vh-100 d-flex flex-column'>
    {% include 'partials::base/b_header.twig' %}

    <main class='container flex-grow-1'>
      {% block content %}{% endblock %}
    </main>

    {% include 'partials::base/b_footer.twig' %}
  </body>
</html>
