@each $breakpoint, $breakpoint-size in $grid-breakpoints {
  .offcanvas.offcanvas-reset-#{$breakpoint} {
    @include media-breakpoint-up($breakpoint) {
      --offcanvas-color: var(--body-color);
      --offcanvas-bg: var(--body-bg);
      --focus-ring-color: var(--primary);

      position: unset;
      transform: unset;
      visibility: visible;
      border: 0;
      transition: unset;

      ~ .offcanvas-backdrop {
        display: none;
      }

      .btn-link {
        --link-hover-color: var(--primary-hover);
        --link-hover-color-rgb: var(--primary-hover-rgb);
      }
    }

    @include media-breakpoint-down($breakpoint) {
      --link-color: var(--light);
      --link-color-rgb: var(--light-rgb);
      --link-hover-color: var(--primary);
      --link-hover-color-rgb: var(--primary-rgb);

      .text-body-secondary {
        --secondary-color: rgba(var(--light-rgb), 0.6);
      }
    }
  }
}

.offcanvas {
  --offcanvas-color: var(--light);
  --offcanvas-bg: var(--dark);
  --link-color: var(--offcanvas-color);
  --focus-ring-color: var(--color-on-primary);

  .offcanvas-body {
    scrollbar-color: var(--light) var(--dark);
  }

  .btn-link {
    --link-hover-color: var(--offcanvas-color);
    --link-hover-color-rgb: var(--offcanvas-color);
  }
}

[data-bs-theme='dark'] .offcanvas {
  --focus-ring-color: var(--primary);
}
