.text-bg-primary {
  --focus-ring-color: var(--color-on-primary);

  background-color: var(--primary) !important;
  color: var(--color-on-primary) !important;

  .btn-primary {
    --btn-bg: var(--color-on-primary);
    --btn-color: var(--primary);
  }

  .btn-outline-primary {
    --btn-color: var(--color-on-primary);
    --btn-border-color: var(--color-on-primary);
    --btn-hover-border-color: var(--color-on-primary);
    --btn-active-border-color: var(--color-on-primary);
    --btn-hover-color: var(--primary);
    --btn-hover-bg: var(--color-on-primary);
  }

  [data-bs-theme='dark'] & {
    --body-bg: var(--primary);

    input {
      color: var(--black);

      &::placeholder {
        color: var(--gray);
      }

      &[type='search']::-webkit-search-cancel-button {
        background-color: var(--color-on-primary);
      }
    }
  }
}
