.text-bg-primary {
  color: var(--color-on-primary) !important;
  background-color: var(--primary) !important;
  --focus-ring-color: var(--color-on-primary);

  .btn-primary {
    --btn-bg: var(--color-on-primary);
    --btn-color: var(--primary);
  }
}
